
h1.fr {
    color:#000000 ;
}
h3{
    color: rgb(36, 202, 202) ;
}
body{
    background-color: rgb(232, 238, 220) ;
}
.fondo{
    color: rgb(201, 63, 70) ;
}

.fondo3{
    color: rgb(201, 63, 70) ;
}

.p2 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


h1{
    background-color: rgb(199, 227, 250);
    padding: 25px 50px 25px 50px;
  }
  
 h3{
    background-color: rgb(250, 199, 199);
    padding: 25px 50px 25px 50px;
  }

  .fondo2{
    color: rgb(103, 131, 25) ;
}



