<style>
h1.fr {
    color:s#000000 ;
}

h3{
    color: rgb(201, 146, 63) ;
}



body{
    background-color: rgb(255, 255, 255) ;
}

h1{
    background-color: rgb(199, 227, 250);
    padding: 25px 50px 25px 50px;
  }



</style>
